<!-- Background image  -->
<div
  class="bg-image h-screen overflow-hidden w-full"
  style="background-image: url('../../assets/Login\ .png')"
>
  <div
    class="z-10 w-screen h-screen absolute top-0 left-0 bg-primary-500 bg-opacity-50 flex justify-center items-center"
  ></div>

  <div class="px-6 pt-4 pb-2">
    <span
      class="inline-block bg-gray-200 border-white-200 bg-opacity-80 rounded-lg p-9 w-full text-sm font-bold font-Herculanum text-4xl text-black-700 mr-2 mb-2"
    >
      FOOD BILL CALCULATION</span
    >
    <p class="text-5xl" style="margin-top: -74px; margin-left: 51px">.</p>
    <p class="text-5xl" style="margin-top: -36px; margin-left: 72px">.</p>
    <p
      class="text-5xl transform -rotate-90"
      style="margin-top: -1312px; margin-left: -1254px"
    >
      (
    </p>
  </div>
</div>
<!-- <div class="p-5 pt-28">
  <span
    class="h-screen inline-block bg-gray-200 border-white-200 bg-opacity-80 rounded-lg p-9 w-full text-sm font-bold font-Herculanum text-4xl text-black-700 mr-2 mb-2"
  >
    <table class="border-separate border-spacing-2 border border-slate-500 ...">
      <thead>
        <tr>
          <th class="border border-slate-600 ...">Menu</th>
          <th class="border border-slate-600 ...">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="border border-slate-700 ...">Indiana</td>
          <td class="border border-slate-700 ...">Indianapolis</td>
        </tr>
        <tr>
          <td class="border border-slate-700 ...">Ohio</td>
          <td class="border border-slate-700 ...">Columbus</td>
        </tr>
        <tr>
          <td class="border border-slate-700 ...">Michigan</td>
          <td class="border border-slate-700 ...">Detroit</td>
        </tr>
      </tbody>
    </table>
  </span>
</div> -->
